.card-nota {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  background-color: var(--fundo-detalhes);
  border-radius: 4px;
  flex-wrap: wrap;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
  padding: 15px;
}
.card-nota_cabecalho {
  font-size: 1.1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-nota_texto {
  margin-top: 8px;
  font-size: 1em;
}

.card-nota_titulo {
  font-size: 1.1em;
  font-weight: bolder;
  margin-right: 5px;
}
.card-nota_deletesvg{
  margin-left: 10px;
}
.card-nota_deletesvg:hover{
  background-color: rgb(185, 48, 48);
  cursor: pointer;
}
.card-nota_deletesvg:active{
  background-color: rgb(121, 28, 28);
}

.card-nota_categoria{
  font-size: 0.9em;
  margin-left: 10px;
  background-color: var(--secundaria);
  color: white;
  padding: 5px;
  border-radius: 5px;
}